# ----------------------------------------------------------------------------
# RUST STANDARD
# ----------------------------------------------------------------------------
/target
/target-android
**/*.rs.bk
Cargo.lock

# ----------------------------------------------------------------------------
# IDE / EDITOR POLLUTION
# ----------------------------------------------------------------------------
.idea/
.vscode/
.claude/
flutter_app/.dart_tool/
flutter_app/android/
flutter_app/*
*.swp
*.iml
.DS_Store

*.jsonl